@import "reset";
@import "./variables/global";
@import "./themes/light";
@import "./themes/dark";
@import "./themes/green";

body {
  font: var(--font-m);
  color: var(--primary-color);
}

.app {
  background: var(--background-color);
  min-height: 100vh;
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 8px;               /* width of the entire scrollbar */
  height: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--background-color);        /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--inverted-background-color);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 2px solid var(--primary-color);  /* creates padding around scroll thumb */
}
