.primary {
  .title {
    color: var(--primary-color);
  }

  .text {
    color: var(--secondary-color);
  }
}

.error {
  .title {
    color: var(--error-primary-color);
  }

  .text {
    color: var(--error-secondary-color);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.size-m {
  .title {
    font: var(--font-l);
  }

  .text {
    font: var(--font-m);
  }
}

.size-l {
  .title {
    font: var(--font-xl);
  }

  .text {
    font: var(--font-l);
  }
}
