.articleDetails {
  min-height: 100%;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 32px;
}

.skeleton {
  margin-top: 16px;
}

.avatarWrapper {
  display: flex;
}

.articleInfo {
  display: flex;
  gap: 8px;
  margin-top: 2px;
}
