.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: opacity 300ms;
  backdrop-filter: blur(1px);
}

.overlay {
  width: 100%;
  height: 100%;
  background: var(--overlay-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 12px 20px;
  border-radius: var(--border-radius-s);
  background: var(--background-color);
  transform: scale(0.7);
  transition: transform 300ms;
  max-width: 90%;
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: var(--modal-z-index);

  .content {
    transform: scale(1);
  }
}

.is-closing {
  opacity: 0;

  .content {
    transform: scale(0.5);
  }
}
