.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-background-color);
  position: relative;
  transition: width 300ms;
}

.switchers {
  position: absolute;
  bottom: 48px;
  display: flex;
  gap: 16px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.collapse-button {
  position: absolute;
  right: -16px;
  bottom: 8px;
  border: 2px solid var(--inverted-background-color);
  z-index: 1;
}

.items {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }
}
