.item {
  padding: 0 16px;
  display: flex;
  gap: 6px;

  i {
    transition: font-size 300ms;
  }

  span {
    white-space: nowrap;
    transition: opacity 300ms;
  }
}

.item.collapsed {
  text-align: center;

  i {
    font: var(--font-l);
  }

  span {
    opacity: 0;
    width: 0;
  }
}
