.listBox {
  position: relative;
  display: inline-block;
}

.options {
  position: absolute;
  z-index: 10;
  background-color: var(--listbox-background);
  border-radius: 4px;
  border: 2px solid var(--primary-color);
  min-width: 100%;

  &.top {
    bottom: 100%;
  }

  &.bottom {
    top: 100%;
  }
}

.item {
  padding: 6px 12px;
  transition: 300ms;

  &.active {
    color: var(--inverted-primary-color);
    background-color: var(--primary-color);
    cursor: pointer;
  }

  &.selected {
    color: var(--inverted-primary-color);
    background-color: var(--primary-color);
    opacity: 0.6;
    pointer-events: none;
  }

  &[aria-disabled] {
    filter: grayscale(1);
    opacity: 0.8;
    pointer-events: none;
  }
}
