.drawer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  transition: opacity 300ms;
  backdrop-filter: blur(1px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.content {
  padding: 12px 14px;
  border-top-left-radius: var(--border-radius-s);
  border-top-right-radius: var(--border-radius-s);
  background: var(--background-color);
  transform: translateY(100%);
  transition: transform 300ms;
  width: 100%;
  height: 70%;
}

.opened {
  opacity: 1;
  pointer-events: auto;
  z-index: var(--modal-z-index);

  .content {
    transform: translateY(0%);
  }
}

.is-closing {
  opacity: 0;

  .content {
    transform: translateY(100%);
  }
}
