.app.dark {
  --background-color: #361765;
  --inverted-background-color: #e503ff;

  --primary-color: #e503ff;
  --secondary-color: #ba00cf;
  --inverted-primary-color: #e7c8ff;
  --inverted-secondary-color: #d4a0fc;
}