.app-dark-theme {
  --primary-color: #e503ff;
  --secondary-color: #ba00cf;
  --background-color: #361765;
  --inverted-primary-color: #e7c8ff;
  --inverted-secondary-color: #d4a0fc;
  --inverted-background-color: #e503ff;

  // skeleton
  --skeleton-shadow: #d4a0fc;
  --skeleton-color: #e7c8ff;

  // code
  --code-background: #762380;
}
