.app-green-theme {
  --primary-color: #044805;
  --secondary-color: #213309;
  --background-color: #ebfaec;
  --inverted-primary-color: #f0fff0;
  --inverted-secondary-color: #ebfaec;
  --inverted-background-color: #054b0a;
}
