.app-green-theme {
  --primary-color: #044805;
  --secondary-color: #213309;
  --background-color: #ebfaec;
  --inverted-primary-color: #f0fff0;
  --inverted-secondary-color: #e5f8e7;
  --inverted-background-color: #054b0a;

  // skeleton
  --skeleton-shadow: #b4d2b7;
  --skeleton-color: #f0fff0;

  // code
  --code-background: #bae780;
}
