:root {
  --primary-color: #005fff;
  --secondary-color: #e5efff;
  --background-color: #e5efff;
  --inverted-primary-color: #f0f6ff;
  --inverted-secondary-color: #b7d0ff;
  --inverted-background-color: #005fff;
}
