.navbar {
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--inverted-background-color);
  display: flex;
  align-items: center;
  padding: 20px;
}

.dropdown {
  margin-left: auto;
}

.logo {
  width: var(--sidebar-width);
}
