.tags {
  display: flex;
  gap: 8px;
}

.tag {
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  transition: 300ms;
  background-color: var(--background-color);
  color: var(--primary-color);
  border: 1px solid var(--primary-color);

  &.active {
    background-color: var(--primary-color);
    color: var(--background-color);
    border: 1px solid var(--primary-color);
  }

  &:hover {
    opacity: 0.7;
  }
}
