.profileCard {
  padding: 20px;
  border: 2px solid var(--inverted-background-color);
  min-height: 300px;
  transition: 200ms;
}

.avatarWrapper {
  margin: 0 auto;
}

.editing {
  border-radius: 10px;
}
