.appLink {
  transition: 300ms;
  text-decoration: none;

  &.underline {
    text-decoration: underline;
  }

  &:hover {
    opacity: 0.8;
  }

  &.primary {
    color: var(--primary-color);
  }

  &.secondary {
    color: var(--inverted-secondary-color);
  }
}
